@use '../../styles/variables.scss' as *;

.Button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $secondary-color;
	color: $primary-color;
	width: 230px;
	height: 64px;
	border: 1px solid $primary-color;
	font-size: 16px;

	&:hover {
		cursor: pointer;
		background-color: $primary-color;
		color: $secondary-color;
	}

	&:disabled {
		cursor: initial;
	}
}

.Loader {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: radial-gradient(farthest-side, #222222 94%, #0000) top/3.8px 3.8px no-repeat, conic-gradient(#0000 30%, #222222);
	animation: spinner 1.2s infinite linear;
}

@keyframes spinner {
	100% {
		transform: rotate(1turn);
	}
}