@font-face {
  font-family: "Red Hat Display";
  src: url("../assets/fonts/RedHatDisplay-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../assets//fonts/RedHatDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../assets//fonts/RedHatDisplay-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
